#author
{
    -fx-font-weight: bold;
}

.hyperlink
{
    -fx-border-color: transparent;
    -fx-padding: 4 0 4 0;
}

.hyperlink:hover
{
    -fx-font-weight: bold;
}

.hyperlink:visited
{
    -fx-text-fill: #00a6ff;
}
