#version{
    -fx-underline: true;
    -fx-font-style: italic;
    -fx-font-weight: bold;
}

#creatingAccountInfoLabel, #creatingAccountStepsLabel{
    -fx-font-style: italic;
    -fx-font-weight: bold;
    -fx-font-size: 24;
}