#registerTextLabel, #logInTextLabel
{
    -fx-text-fill: blue;
    -fx-font-weight: bold;
    -fx-border-color: transparent;
    -fx-padding: 4 0 4 0;
    -fx-underline: false;
}

#askAboutAccountTextLabel
{
    -fx-font-weight: bold;
    -fx-font-style: italic;
}

#registerTextLabel:hover, #logInTextLabel:hover
{
    -fx-underline: true;
    -fx-font-style: italic;
}

#helpMenuBar
{
    -fx-background-color: transparent;
}
